<section id="about" [ngClass]="visibilityCompare ? 'top-scrolled':''">
    <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
    <div class="container">

        <div class="content" data-aos="zoom-in" data-aos-duration="3000">
            <div class="section-header animate__animated animate__fadeInUp animate__delay-2s">
                <h1>{{'about.About' | translate }} </h1>
            </div>
            <div class="description animate__animated animate__fadeInUp animate__delay-3s">
                <p>
                    {{'about.title-about' | translate }}
                </p>
            </div>
            <div class="loader">

            </div>
        </div>
    </div>
</section>