section {
    height: 80vh;
    background-image: url(../../../assets/img/about/1.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

section::before {
    content: "";
    // background: #ffffff73;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
}
// .top-scrolled{
//     position: fixed;
//     left: 0;
//     right: 0;
//     top: 0;
//     z-index: 1024;
// }

.content {
    text-align: center;
    color: var(--white);
    // background-image: url(../../../assets/img/about/2.svg), url(../../../assets/img/about/3.svg);
    // background-repeat: no-repeat;
    // background-size: 20% 20%;
    padding: 40px 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}


.description {
    width: 70%;
    margin: auto;

    p {
        text-align: center;
        padding: 0;
        margin: 0;
        font-size: 18px;
        font-weight: 300;
        color: var(--secondary);
    }
}

