<section id="about"  [ngClass]="visibilityCompare ? 'top-scrolled':''">

    <!-- <div class="lottie-animation">
        <ng-lottie [options]="options" (animationCreated)="onAnimate($event)"   
        containerClass="moving-box another-class">
        </ng-lottie>
      </div> -->
    <div class="container">
        <div class="content">
            <div class="section-header">
                <h2>{{'about.About' | translate }} </h2>
            </div>
            <div class="description">
               <p>
                {{'about.title-about' | translate }}
               </p>
            </div>
            <div class="loader">

            </div>
        </div>
    </div>
</section>