section {
    height: 60vh;
    background-image: url(../../../assets/img/about/1.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

section::before {
    content: "";
    // background: #ffffff73;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
}
// .top-scrolled{
//     position: fixed;
//     left: 0;
//     right: 0;
//     top: 0;
//     z-index: 1024;
// }

.content {
    text-align: center;
    color: var(--white);
    // background-image: url(../../../assets/img/about/2.svg), url(../../../assets/img/about/3.svg);
    // background-repeat: no-repeat;
    // background-size: 20% 20%;
    padding: 40px 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.section-header {
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 10px;
    padding-top: 20px;
    cursor: pointer;
    font-family: 'Cairo'
}

.section-header::before {
    content: "";
    position: absolute;
    display: block;
    width: 200px;
    height: 2px;
    background: #fff !important;
    bottom: 0;
    left: calc(50% - 100px);
}


.section-header::after {
    content: "";
    position: absolute;
    display: block;
    width: 30px;
    height: 10px;
    background:url(../../../assets/img/about/Layer_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    bottom: -4px;
    left: calc(50% - 100px);
    border-radius: 50px;
    transition: all 3s ease-in;
}
.section-header:hover::after {
    left: calc(64% - 100px);
    transform: scaleY(1);
}

.description {
    width: 70%;
    margin: auto;

    p {
        text-align: center;
        padding: 0;
        margin: 0;
        font-size: 18px;
        font-weight: 300;
        color: var(--secondary);
    }
}

@media (max-width: 768px) {
    section {
        height: 75vh;
        background-size: cover;
    } 
}