<section id="about"  [ngClass]="visibilityCompare ? 'top-scrolled':''">

    <!-- <div class="lottie-animation">
        <ng-lottie [options]="options" (animationCreated)="onAnimate($event)"   
        containerClass="moving-box another-class">
        </ng-lottie>
      </div> -->
    <div class="container">
        <div class="content">
            <div class="section-header">
                <h2> About Us </h2>
            </div>
            <div class="description">
               <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, reprehenderit quos, nulla omnis unde veniam
                atque odio officia earum quia sunt deleniti magnam nemo eligendi illo vero, sequi excepturi perspiciatis.
               </p>
            </div>
            <div class="loader">

            </div>
        </div>
    </div>
</section>