<section id="client">
    <div class="container">
        <div class="content">
            <div class="section-header">
                <h2> Our client </h2>
            </div>
            <div class="box-content">
                <!-- <div class="col-md-3 text-center"> -->
                    <div class="box">
                        <h4>
                            022
                        </h4>
                        <div class="service-header">
                            <h6> clients </h6>
                        </div>
                    </div>
                <!-- </div> -->
                <!-- <div class="col-md-3 text-center"> -->
                    <div class="box">
                        <h4>
                            022
                        </h4>
                        <div class="service-header">
                            <h6> projects</h6>
                        </div>
                    </div>
                <!-- </div> -->
                <!-- <div class="col-md-3 text-center"> -->
                    <div class="box">
                        <h4>
                            022
                        </h4>
                        <div class="service-header">
                            <h6> clients </h6>
                        </div>
                    </div>
                <!-- </div> -->
                <!-- <div class="col-md-3 text-center"> -->
                    <div class="box">
                        <h4>
                            022
                        </h4>
                        <div class="service-header">
                            <h6> clients </h6>
                        </div>
                    </div>
                <!-- </div> -->
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="box-circle">
                        <img class="img-custom" src="../../../assets/img/clients/2.png" alt="" srcset="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box-circle">
                        <img src="../../../assets/img/clients/3.png" alt="" srcset="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box-circle">
                        <img src="../../../assets/img/clients/1.png" alt="" srcset="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box-circle">
                        <img src="../../../assets/img/clients/3.png" alt="" srcset="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>