<section id="client">
    <div class="container">
        <div class="content"  data-aos="zoom-in" data-aos-duration="3000">
            <div class="section-header">
                <h1> {{'client.our-client' | translate }}</h1>
            </div> 
            <div class="client-count-wrp-inner">
                <div class="cards box stat" #stat>
                    <h4> {{projectCount}}</h4>
                    <div class="service-header animate__animated animate__fadeInUp animate__delay-2s">
                        <h6> {{'client.client' | translate }} </h6>
                    </div>
                </div>
                <!--card-->
                <div class="cards box animate__animated animate__fadeInUp animate__delay-2s">
                    <h4>{{accurateCount}}</h4>
                    <div class="service-header">
                        <h6> {{'client.projects' | translate }}</h6>
                    </div>
                </div>
                <!--card-->
                <div class="cards box animate__animated animate__fadeInUp animate__delay-2s">
                    <h4>{{clientCount}}</h4>
                    <div class="service-header">
                        <h6> {{'client.client' | translate }} </h6>
                    </div>
                </div>
                <!--card-->
                <div class="cards box animate__animated animate__fadeInUp animate__delay-2s">
                    <h4>{{customerFeedback}}</h4>
                    <div class="service-header">
                        <h6> {{'client.client' | translate }} </h6>
                    </div>
                </div>
                <!--card-->
            </div>
            <div class="content-box animate__animated animate__fadeInUp animate__delay-2s">
                <div class="box-circle">
                    <img src="../../../assets/img/clients/3.png" alt="" srcset="">
                </div>
                <div class="box-circle">
                    <img src="../../../assets/img/clients/1.png" alt="" srcset="">
                </div>
                <div class="box-circle">
                    <img src="../../../assets/img/clients/3.png" alt="" srcset="">
                </div>
                <div class="box-circle">
                    <img class="img-custom" src="../../../assets/img/clients/2.png" alt="" srcset="">
                </div>
            </div>
        </div>
    </div>
</section>