<section class="background-wave">
    <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
    <div class="section-header">
        <h1> {{'website.website' | translate }} </h1>
    </div>
</section>
<div class="container">
    <section class="about-services">
        <div class="row">
            <div class="col-md-12">
                <div class="btn-content">
                    <div class="content-btn">
                        <button type="button" class="btn" routerLink="/our-media">
                            {{'Media.Media' | translate }}</button>
                    </div>
                    <div class="content-btn">
                        <button type="button" class="btn" routerLink="/our-event-management"
                        >{{'services.EventManagement' | translate }}</button>
                    </div>
                    <div class="content-btn">
                        <button type="button" class="btn" routerLink="/our-website"
                        >{{'services.WebsiteDeveloper' | translate }}</button>
                    </div>
                    <div class="content-btn">
                        <button type="button" class="btn" routerLink="/our-digital-marketing"
                        >{{'services.DigitalMarketing' | translate }}</button>
                    </div>
                    <div class="content-btn">
                        <button type="button" class="btn" routerLink="/our-graphic-design"
                        >{{'services.GraphicDesign' | translate }}</button>
                    </div>
                    <div class="content-btn">
                        <button type="button" class="btn" routerLink="/our-start-up"
                        >{{'services.StartUp' | translate }}</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mobile-text">
                <!-- <h1 class="title-header">
                    {{'website.website' | translate }}
                </h1> -->
                <p>
                    {{'website.about-website' | translate }}
                </p>
            </div>
            <div class="col-md-6 mobile-img">
                <img src="../../../assets/img/services/02.png" alt="" srcset="">
            </div>

            <div class="col-md-12 mobile-desc">
                <h4 class="text-4">
                    {{'website.website' | translate }}
                </h4>
                <div class="content-text">
                    <p>
                        {{'website.description-website-1' | translate }}
                    </p>
                    <p>
                        {{'website.description-website-2' | translate }}
                    </p>
                    <p>
                        {{'website.description-website-3' | translate }}
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>