<section id="hero">
    <div class="content">

      <video loop plays-inline class="back-video" #myVideo>
        <source src="https://cdn.moooi.com/assets/Web-Items/Videos/DEZEEN_Front_Design_Dreams_NO_BUMPERS.mp4"
          type="video/mp4">
        <!--autoplay <source src="../../../assets/video/2.mp4" type="video/mp4"> -->
      </video>
      <div class="text-content">
        <h1>
          {{'hero.content-title' | translate }}
        </h1>
        <button type="button" class="btn contact-btn">{{'hero.btn-contact' | translate }}</button>
      </div>
      <a (click)="playVideo()">
        <fa-icon icon="play" *ngIf="isPlay"></fa-icon>
        <fa-icon icon="pause" *ngIf="!isPlay"></fa-icon>
      </a>
    </div>
</section>