#hero {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}
.title{
  text-align: center;
  margin-top: -65px;
  // h1{
  //   font-size: 3.5rem;
  // }
}

button.btn.contact-btn {
  background-color:transparent;
  color: var(--black);
  border: 1px solid !important;
  border-color: var(--white);
  transition: color .5s ease;
  border-radius: 30px;
  transition: background-color .5s ease;
  margin: auto;
  display: flex;
  &:hover {
      color: var(--black);
      background-color: transparent;
  }
}