@font-face {
    font-family: 'open-sans';
    src: url('../fonts/OpenSans-Regular.ttf');
    font-weight: 800;
    font-style: normal;
    letter-spacing: .3px;
}
@font-face {
    font-family:  'open-sans-bold';
    src: url('../fonts/OpenSans-Bold.ttf');
    font-weight: 800;
    font-style: normal;
    letter-spacing: .3px;
}