@font-face {
    font-family: 'Cairo';
    src: url('../fonts/Cairo-Regular.ttf');
    font-weight: 800;
    font-style: normal;
    letter-spacing: .3px;
}

@font-face {
    font-family: 'Cairo';
    src: url('../fonts/Cairo-SemiBold.ttf');
    font-weight: 800;
    font-style: normal;
    letter-spacing: .3px;
}

@font-face {
    font-family: 'Cairo';
    src: url('../fonts/Cairo-Black.ttf');
    font-weight: 800;
    font-style: normal;
    letter-spacing: .3px;
}

@font-face {
    font-family: 'Cairo';
    src: url('../fonts/Cairo-Bold.ttf');
    font-weight: 800;
    font-style: normal;
    letter-spacing: .3px;
}

@font-face {
    font-family: 'Cairo';
    src: url('../fonts/Cairo-ExtraLight.ttf');
    font-weight: 800;
    font-style: normal;
    letter-spacing: .3px;
}

@font-face {
    font-family: 'Cairo';
    src: url('../fonts/Cairo-Light.ttf');
    font-weight: 800;
    font-style: normal;
    letter-spacing: .3px;
}

@font-face {
    font-family: 'Cairo';
    src: url('../fonts/Cairo-Regular.ttf');
    font-weight: 800;
    font-style: normal;
    letter-spacing: .3px;
}
