<section id="contact">
    <div class="container">
        <div class="content" data-aos="zoom-in" data-aos-duration="3000">
            <div class="section-header">
                <h1> {{'contact.contact' | translate }} </h1>
            </div>
            <p class="description">
                {{'contact.content-contact' | translate }}
            </p>
            <div class="row">

                <div class="col-md-6">
                    <form class="form" [formGroup]="myForm" (ngSubmit)="onSubmitContact()">
                        <input type="text" formControlName="name" placeholder="{{'contact.name' | translate }}" />
                        <input type="email" formControlName="email" placeholder="{{'contact.email' | translate }}" />
                        <input type="text" formControlName="phone" placeholder="{{'contact.phone' | translate }}" />
                        <p class="text-message">
                            {{'contact.message' | translate }}
                        </p>
                            <textarea  formControlName="message" class="form-control" id="exampleFormControlTextarea1"
                                rows="3"></textarea>
                        <div class="d-flex">
                            <button type="button" class="btn" (click)="onSubmitContact()">{{'contact.btn-send' |
                                translate }}</button>
                        </div>
                    </form>
                </div>


                <div class="col-md-6">
                    <div class="responsive-map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3631.5876185257293!2d54.38330571744385!3d24.465088800000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5e675a46dad515%3A0xd9ae1f0397bce21b!2sAman%20Media%20Digital%20Marketing%20agency!5e0!3m2!1sen!2sae!4v1679248565143!5m2!1sen!2sae"
                            width="400" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>