<!--<app-hero></app-hero>
<app-about></app-about>
<app-features></app-features>
<app-about-video></app-about-video>
<app-beneficiary-sectors></app-beneficiary-sectors> -->
<!-- <app-pricing></app-pricing> -->
<!-- <app-footer></app-footer> -->

<div class="pages container-fluid P-0">
    <div class="header-nav">
        <app-header></app-header>
    </div>
    <div class="content">
        <app-menu></app-menu>
        <router-outlet></router-outlet>
        <!-- <router-outlet></router-outlet> -->
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>