<section id="service">
    <div class="container">
        <div class="content">
            <div class="section-header"  data-aos="fade-up" data-aos-duration="3000" >
                <h1>{{'services.service' | translate }}</h1>
            </div>
            <!-- <Particles id="tsparticles" [options]="options"></Particles> -->
            <div class="">
                <!-- <div class="img-1">
                    <span class="span-back span1"></span>
                    <span class="span-back span2"></span>
                    <span class="span-back span3"></span>
                    <span class="span-back span4"></span>
                    <span class="span-back span5"></span>
                    <span class="span-back span6"></span>
                    <span class="span-back span7"></span>
                </div> -->
                <div class="row">
                    <div class="col-md-4 animate__animated animate__fadeInUp animate__delay-2s" data-aos="fade-up" data-aos-duration="2500">
                        <a href="/our-media">
                            <img src="../../../assets/img/services/03.png" alt="" srcset="">
                            <div class="service-header">
                                <h6> {{'Media.Media' | translate }} </h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 animate__animated animate__fadeInUp animate__delay-2s" data-aos="fade-up" data-aos-duration="3000">
                        <a href="/our-event-management">
                            <img src="../../../assets/img/services/01.png" alt="" srcset="">
                            <div class="service-header">
                                <h6> {{'services.EventManagement' | translate }} </h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 animate__animated animate__fadeInUp animate__delay-2s"
                        routerLink="/our-website" (click)="navigation()" data-aos="fade-up" data-aos-duration="3000">
                        <a href="/our-website">
                            <img src="../../../assets/img/services/02.png" alt="" srcset="">
                            <div class="service-header">
                                <h6> {{'services.WebsiteDeveloper' | translate }} </h6>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-4 animate__animated animate__fadeInUp animate__delay-3s" data-aos="fade-up" data-aos-duration="3000">
                        <a href="/our-digital-marketing">
                            <img src="../../../assets/img/services/05.png" alt="" srcset="">
                            <div class="service-header">
                                <h6> {{'services.DigitalMarketing' | translate }} </h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 animate__animated animate__fadeInUp animate__delay-3s" data-aos="fade-up" data-aos-duration="3000">
                        <a href="/our-graphic-design">
                            <img src="../../../assets/img/services/04.png" alt="" srcset="">
                            <div class="service-header">
                                <h6> {{'services.GraphicDesign' | translate }} </h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 animate__animated animate__fadeInUp animate__delay-3s" data-aos="fade-up" data-aos-duration="3000">
                        <a href="/our-start-up">
                            <img src="../../../assets/img/services/06.png" alt="" srcset="">
                            <div class="service-header">
                                <h6> {{'services.StartUp' | translate }} </h6>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>