<section id="service">
    <div class="container">
        <div class="content">
            <div class="section-header ">
                <h2>{{'services.service' | translate }}</h2>
            </div>
            <!-- <Particles id="tsparticles" [options]="options"></Particles> -->
            <div class="background-img">
                <div class="img-1">
                    <span class="span-back span1"></span>
                    <span class="span-back span2"></span>
                    <span class="span-back span3"></span>
                    <span class="span-back span4"></span>
                    <span class="span-back span5"></span>
                    <span class="span-back span6"></span>
                    <span class="span-back span7"></span>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img src="../../../assets/img/services/1.svg" alt="" srcset="">
                        <div class="service-header">
                            <h6> {{'services.media' | translate }} </h6>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="../../../assets/img/services/2.svg" alt="" srcset="">
                        <div class="service-header">
                            <h6> {{'services.EventManagement' | translate }} </h6>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="../../../assets/img/services/3.svg" alt="" srcset="">
                        <div class="service-header">
                            <h6> {{'services.WebsiteDeveloper' | translate }} </h6>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <img src="../../../assets/img/services/4.svg" alt="" srcset="">
                        <div class="service-header">
                            <h6> {{'services.DigitalMarketing' | translate }} </h6>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="../../../assets/img/services/5.svg" alt="" srcset="">
                        <div class="service-header">
                            <h6> {{'services.GraphicDesign' | translate }} </h6>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="../../../assets/img/services/6.svg" alt="" srcset="">
                        <div class="service-header">
                            <h6> {{'services.StartUp' | translate }} </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>