#marketing {
    height: 100%;
    overflow: hidden;
    background-color: var(--primary);
    padding-top: 40px  ;
}
img{
    width: 100%;
}
.sub-img{
    width: 80%;
    display: flex;
    margin: auto;
}