<section id="marketing">
        <div class="flex -mx-4 concent">
            <!-- <img class="w-64 self-start flex-none" src="../../../assets/img/marketing/1.png" alt="" srcset=""> -->
            <p class="w-64 self-start flex-none">
                <span class="order-marketing-title">
                  {{'marketing.marketing-agency' | translate }}
                </span>
                <img class="order-marketing-img" src="../../../assets/img/logo/logo.png" alt="" srcset=""><p>
        </div>
        <div class="flex -mx-4 concent-02">
            <!-- <img class="w-64 self-start flex-none" src="../../../assets/img/marketing/2.png" alt="" srcset=""> -->
            <p>  {{'marketing.media-digital' | translate }} </p>
        </div>
</section>
