#marketing {
    height: 100%;
    overflow: hidden;
    background-color: var(--primary);
    padding-top: 40px  ;
}

.concent{
    top: 0;
    left: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    animation: concent01 30s linear infinite;
}
.concent-02{
    top: 0;
    left: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    animation: concent02 30s linear infinite; 
}
img{
    width: 100%;
}

.sub-img{
    width: 80%;
    display: flex;
    margin: auto;
}

@keyframes concent01 {
    0% {
      left: 100%;
    }
    100% {
      left: -100%
    }
  }

@keyframes concent02 {
    0% {
      left: -100%;
    }
    100% {
      left: 100%
    }
  }

// @keyframes spin-main{
//     0%{ transform: translateX(0); opacity: 0%;}
//     25%{ transform: translateX(-25px); opacity: 100%;}
//     50%{ transform: translateX(-50px); opacity: 100%;}
//     75%{ transform: translateX(-75px); opacity: 100%;}
//     100%{ transform: translateX(-100px);opacity: 0%;}
// }

// @keyframes spin-sub{
//     0%{ transform: translateX(0); opacity: 0%;}
//     25%{ transform: translateX(25px); opacity: 100%;}
//     50%{ transform: translateX(50px); opacity: 100%;}
//     75%{ transform: translateX(75px); opacity: 100%;}
//     100%{ transform: translateX(100px);opacity: 0%;}
// }

@media (max-width: 768px) {
    #marketing{
        padding: 1rem;
    }
}