<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 d-flex align-items-center">
                <div class="logo">
                    <img src="../../../../assets/img/footer/logo.svg" alt="" srcset="">
                </div>
            </div>
            <div class="col-md-6">
                <ul>
                    <li><a class="nav-title" href="#"> {{'footer.Home' | translate }}</a></li>
                    <li><a class="nav-title" href="#">{{'footer.About' | translate }}</a></li>
                    <li><a class="nav-title" href="#">{{'footer.services' | translate }}</a></li>
                    <li><a class="nav-title" href="#">{{'footer.contact' | translate }}</a></li>
                </ul>
                <div class="text">
                    <p>
                        aman media digital marketing agency
                    </p>
                </div>
                <div class="d-flex justify-content-center">
                    <span class="icon"><img class="fb" src="../../../../assets/img/footer/fb.svg" alt=""
                            srcset=""></span>
                    <span class="icon"><img src="../../../../assets/img/footer/phone.svg" alt="" srcset=""></span>
                    <span class="icon"><img src="../../../../assets/img/footer/in.svg" alt="" srcset=""></span>
                    <span class="icon"><img src="../../../../assets/img/footer/ins.svg" alt="" srcset=""></span>
                </div>
            </div>
            <div class="col-md-3 d-flex align-items-center">
                <div class="desc">
                    <h6>
                        Al Khazzaf St - Al Nahyan - E25
                        Abu Dhabi - UAE
                    </h6>
                    <h6>
                        055 390 2015
                    </h6>
                    <h6>
                        055 390 2015
                    </h6>
                </div>
            </div>
        </div>
    </div>
</section>