<section class="background-wave">
    <div class="wave wave1"> </div>
    <div class="wave wave2"> </div>
    <div class="section-header">
        <h1>{{'gallery.our-gallery' | translate }} </h1>
    </div>
</section>

<section class="our-gallery">
    <div class="container">
        <div class="gallery">
            <article id="00001" style="--width:800; --height:600;">
                <a>
                    <picture>
                        <img alt="Ein tolles Bild" loading="lazy" decoding="async"
                            src="https://source.unsplash.com/random/800x600/" width="800" height="600">
                    </picture>
                    <!-- <details open>
                        <summary>Ein tolles Bild</summary>
                        <p>
                            F2.8 12mm
                        </p>
                    </details> -->
                </a>
            </article>
    
            <article id="00002" style="--width:600; --height:600;">
                <a >
                    <picture>
                        <img alt="Noch ein tolles Bild" loading="lazy" decoding="async"
                            src="https://source.unsplash.com/random/600x600/" width="600" height="600">
                    </picture>
                </a>
            </article>
    
            <article id="00003" style="--width:1000; --height:600;">
                <a >
                    <picture>
                        <img alt="" loading="lazy" decoding="async" src="https://source.unsplash.com/random/1000x600/"
                            width="1000" height="600">
                    </picture>
                </a>
            </article>
    
            <article id="00004" style="--width:200; --height:600;">
                <a >
                    <picture>
                        <img alt="" loading="lazy" decoding="async" src="https://source.unsplash.com/random/200x600/"
                            width="200" height="600">
                    </picture>
                </a>
            </article>
    
            <article id="00005" style="--width:500; --height:600;">
                <a>
                    <picture>
                        <img alt="" loading="lazy" decoding="async" src="https://source.unsplash.com/random/500x600/"
                            width="500" height="600">
                    </picture>
                </a>
            </article>
    
            <article id="00006" style="--width:400; --height:600;">
                <a >
                    <picture>
                        <img alt="" loading="lazy" decoding="async" src="https://source.unsplash.com/random/400x600/"
                            width="400" height="600">
                    </picture>
                </a>
            </article>
    
            <article id="00007" style="--width:900; --height:600;">
                <a >
                    <picture>
                        <img alt="" loading="lazy" decoding="async" src="https://source.unsplash.com/random/900x600/"
                            width="900" height="600">
                    </picture>
                </a>
            </article>
    
            <article id="00008" style="--width:350; --height:600;">
                <a >
                    <picture>
                        <img alt="" loading="lazy" decoding="async" src="https://source.unsplash.com/random/350x600/"
                            width="350" height="600">
                    </picture>
                </a>
            </article>
    
            <article id="00009" style="--width:950; --height:600;">
                <a >
                    <picture>
                        <img alt="" loading="lazy" decoding="async" src="https://source.unsplash.com/random/950x600/"
                            width="950" height="600">
                    </picture>
                </a>
            </article>
    
            <article id="00010" style="--width:750; --height:600;">
                <a >
                    <picture>
                        <img alt="" loading="lazy" decoding="async" src="https://source.unsplash.com/random/750x600/"
                            width="750" height="600">
                    </picture>
                </a>
            </article>
    
            <article id="00011" style="--width:1150; --height:600;">
                <a >
                    <picture>
                        <img alt="" loading="lazy" decoding="async" src="https://source.unsplash.com/random/1150x600/"
                            width="1150" height="600">
                    </picture>
                </a>
            </article>
        </div>
    </div>
</section>