<header id="header" class="header">
    <nav class="navbar navbar-expand-lg" >
      <!-- <nav class="navbar navbar-expand-lg" [ngClass]="visibilityCompare ? 'header-scrolled':'unheader-scrolled'"> -->
      <div class="container">
        <a class="navbar-brand" id="logo" (click)="onClick('hero')">
          En
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="search m-auto">
            <button type="button" class="btn digtial-btn">DIGITAL MARKETING AGENCY</button>
          </div>
          <div class="d-flex">
            <img src="../../../../assets/img/header/logo.png" alt="" srcset="">
          </div>
        </div>
      </div>
    </nav>

</header>