<section class="background-wave">
    <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
    <div class="section-header">
        <h1>{{'our-services.our-services' | translate }} </h1>
    </div>
</section>
<div class="container">
    <section class="about-services">
        <div class="row">
            <div class="col-md-6">
                <h1 class="title-header">
                    Event Management
                </h1>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo aliquam repellat rerum
                    blanditiis
                    autem accusamus expedita, aspernatur recusandae! At aut labore quia cupiditate. Debitis voluptatum
                    porro
                    libero eveniet praesentium rerum!
                </p>
            </div>
            <div class="col-md-6">
                <img src="../../../assets/img/ourServices/1.png" alt="" srcset="">
            </div>
            <div class="col-md-12">
                <div class="btn-content">
                    <div class="content-btn">
                        <button type="button" class="btn">Lorem ipsum</button>
                    </div>
                    <div class="content-btn">
                        <button type="button" class="btn">Lorem ipsum</button>
                    </div>
                    <div class="content-btn">
                        <button type="button" class="btn">Lorem ipsum</button>
                    </div>
                    <div class="content-btn">
                        <button type="button" class="btn">Lorem ipsum</button>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <h4 class="text-4">
                    Event Management
                </h4>
                <div class="content-text">
                    <p>
                        Lorem ipsum
                        dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                        dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud, sed diam nonummy
                        nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim
                        veniam,
                        quis nostrud Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                        euismod
                        tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                        nostrud,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
                        enim
                        ad minim veniam, quis nostrud
                    </p>
                    <p>
                        Lorem ipsum
                        dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                        dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud, sed diam nonummy
                        nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim
                        veniam,
                        quis nostrud Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                        euismod
                        tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                        nostrud,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
                        enim
                        ad minim veniam, quis nostrud
                    </p>
                    <p>
                        Lorem ipsum
                        dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                        dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud, sed diam nonummy
                        nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim
                        veniam,
                        quis nostrud Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                        euismod
                        tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                        nostrud,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
                        enim
                        ad minim veniam, quis nostrud
                    </p>
                    <p>
                        Lorem ipsum
                        dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                        dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud, sed diam nonummy
                        nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim
                        veniam,
                        quis nostrud Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                        euismod
                        tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                        nostrud,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
                        enim
                        ad minim veniam, quis nostrud
                    </p>
                    <p>
                        Lorem ipsum
                        dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                        dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud, sed diam nonummy
                        nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim
                        veniam,
                        quis nostrud Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                        euismod
                        tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                        nostrud,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
                        enim
                        ad minim veniam, quis nostrud
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>